body {
    font-family: "Julius Sans One";
    line-height: 1.6;
    background-image: linear-gradient(10deg,
            hsl(12deg 100% 80%) 0%,
            hsl(12deg 24% 83%) 45%,
            hsl(188deg 65% 83%) 100%);
}

h1.header-title {
    padding: 3em 5em;
}

p.header-title {
    display: inline-block;
    padding: 0em 10.5em;
    font-size: large;
}

#rotating-text {
    display: inline-block;
    z-index: 1;
    position: relative;
    left: -10.4em;
}

header {
    font-family: "Julius Sans One";
    background-image: url("../assets/images/background.jpg");
    color: #ab6060;
    padding: 100px 0;
    text-align: left;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    position: relative;
}

.header-title {
    z-index: 2;
    /* 設置z-index，使文字層級高於圖片 */
    position: relative;
    /* 使z-index屬性生效 */
}

.overlay {
    z-index: 0;
    position: absolute;
    /* 設置絕對定位 */
    top: 50%;
    /* 置中對齊 */
    left: 50%;
    /* 置中對齊 */
    transform: translate(-50%, -50%);
    /* 置中對齊 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-image {
    max-width: 150%;
    /* 確保圖片不超過容器寬度 */
    height: auto;
    /* 保持圖片比例 */
}


section {
    padding: 50px 0;
}

section#about {}

section#portfolio {}

section#contact {}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.text-style {
    font-size: large;
    font-weight: bolder;
    font-family: "Julius Sans One";
    color: #ab6060;
}

@media (max-width:1000px) {
    body {
        font-family: "Julius Sans One";
        line-height: 1.6;
        background-image: linear-gradient(10deg,
                hsl(12deg 100% 80%) 0%,
                hsl(12deg 24% 83%) 45%,
                hsl(188deg 65% 83%) 100%);
    }
    
    h1.header-title {
        font-size: x-large;
        padding: 6em 3em 2em 3em;
    }
    
    p.header-title {
        display: inline-block;
        padding: 0em 4em 0em 4.6em;
        font-size: medium;
    }
    
    #rotating-text {
        display: inline-block;
        z-index: 1;
        position: relative;
        left: -3.9em;
    }
    
    header {
        font-family: "Julius Sans One";
        background-image: url("../assets/images/background.jpg");
        color: #ab6060;
        padding: 100px 0;
        text-align: left;
        height: 100vh;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .header-title {
        z-index: 2;
        /* 設置z-index，使文字層級高於圖片 */
        position: relative;
        /* 使z-index屬性生效 */
    }
    
    .overlay {
        z-index: 0;
        position: absolute;
        /* 設置絕對定位 */
        top: 50%;
        /* 置中對齊 */
        left: 50%;
        /* 置中對齊 */
        transform: translate(-50%, -50%);
        /* 置中對齊 */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .overlay-image {
        max-width: 150%;
        /* 確保圖片不超過容器寬度 */
        height: auto;
        /* 保持圖片比例 */
    }
    
    
    section {
        padding: 50px 0;
    }
    
    section#about {}
    
    section#portfolio {}
    
    section#contact {}
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    .fade-in {
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    
    .fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
    
    .text-style {
        font-size: medium;
        font-weight: bolder;
        font-family: "Julius Sans One";
        color: #ab6060;
    }



}
@media (max-width:600px) {
    body {
        font-family: "Julius Sans One";
        line-height: 1.6;
        background-image: linear-gradient(10deg,
                hsl(12deg 100% 80%) 0%,
                hsl(12deg 24% 83%) 45%,
                hsl(188deg 65% 83%) 100%);
    }
    
    h1.header-title {
        font-size: medium;
        padding: 11em 1.5em 2em 1.5em;
    }
    
    p.header-title {
        display: inline-block;
        padding: 0em 2em;
        font-size: x-small;
    }
    
    #rotating-text {
        display: inline-block;
        z-index: 1;
        position: relative;
        left: -2em;
    }
    
    header {
        font-family: "Julius Sans One";
        background-image: url("../assets/images/background.jpg");
        color: #ab6060;
        padding: 100px 0;
        text-align: left;
        height: 100vh;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .header-title {
        z-index: 2;
        /* 設置z-index，使文字層級高於圖片 */
        position: relative;
        /* 使z-index屬性生效 */
    }
    
    .overlay {
        z-index: 0;
        position: absolute;
        /* 設置絕對定位 */
        top: 50%;
        /* 置中對齊 */
        left: 50%;
        /* 置中對齊 */
        transform: translate(-50%, -50%);
        /* 置中對齊 */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .overlay-image {
        max-width: 150%;
        /* 確保圖片不超過容器寬度 */
        height: auto;
        /* 保持圖片比例 */
    }
    
    
    section {
        padding: 50px 0;
    }
    
    section#about {}
    
    section#portfolio {}
    
    section#contact {}
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    .fade-in {
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    
    .fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
    
    .text-style {
        font-size: x-small;
        font-weight: bolder;
        font-family: "Julius Sans One";
        color: #ab6060;
    }



}

@media (max-width:400px) {
    body {
        font-family: "Julius Sans One";
        line-height: 1.6;
        background-image: linear-gradient(10deg,
                hsl(12deg 100% 80%) 0%,
                hsl(12deg 24% 83%) 45%,
                hsl(188deg 65% 83%) 100%);
    }
    
    h1.header-title {
        font-size: x-large;
        padding: 10em 1.5em 2em 1.8em;
    }
    
    p.header-title {
        display: inline-block;
        padding: 0em 2.5em;
        font-size: medium;
    }
    
    #rotating-text {
        display: inline-block;
        z-index: 1;
        position: relative;
        left: -2em;
    }
    
    header {
        font-family: "Julius Sans One";
        background-image: url("../assets/images/background.jpg");
        color: #ab6060;
        padding: 100px 0;
        text-align: left;
        height: 100vh;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .header-title {
        z-index: 2;
        /* 設置z-index，使文字層級高於圖片 */
        position: relative;
        /* 使z-index屬性生效 */
    }
    
    .overlay {
        z-index: 0;
        position: absolute;
        /* 設置絕對定位 */
        top: 50%;
        /* 置中對齊 */
        left: 52%;
        /* 置中對齊 */
        transform: translate(-50%, -50%);
        /* 置中對齊 */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .overlay-image {
        max-width: 150%;
        /* 確保圖片不超過容器寬度 */
        height: auto;
        /* 保持圖片比例 */
        content: url('../assets/images/header_card_p.png');
    }
    
    
    section {
        padding: 50px 0;
    }
    
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
    
    .fade-in {
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    
    .fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
    
    .text-style {
        font-size: medium;
        font-weight: bolder;
        font-family: "Julius Sans One";
        color: #ab6060;
    }



}